.content {
  .img-icon {
    width: 2rem;
    height: 2rem;
  }
  .confirm-menu {
    height: fit-content;
    min-height: 200px;
  }
  .bridge-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    .quote-input {
      -moz-appearance: textfield;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
    .coin-selector {
      color: black;

      .css-13cymwt-control {
        border: none;
        outline: none;
      }
      .css-1hb7zxy-IndicatorsContainer {
        display: none;
      }
    }

    button.bridge {
      width: calc(100% - 0px);
      padding: 10px;
      border: none;
      border-radius: 5px;
      color: white;
      cursor: pointer;
      margin-top: 10px;
    }

    button.bridge:disabled {
      background: rgba(126, 34, 206, 0.7);
      cursor: not-allowed;
    }
  }
}
