.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  color: #fff;
  width: 500px;
  padding: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(51 65 85 / var(--tw-bg-opacity));
  border-radius: 15px;

  .coins-list-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.exit-icon {
  cursor: pointer;
  font-size: 20px;
}
.modal-title {
  color: #6821c3;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
}
.modal-image img {
  width: 8rem;
}
.modalText {
  text-align: justify;
}
.modal-button button {
  border: 1px solid #6821c3;
  padding: 6px;
  width: 8rem;
  background-color: #6821c3;
  color: white;
  border-radius: 7px;
}
